
<div class="container">
  <form action="/logout" method="get">
  <input type="submit" value="logout">
  </form>
  <h1>Welcome, <%= @user.name %> </h1>

  <% @profile = @user.profile %>
  <% if @profile.group.nil? %>
  <form class="profilegroup-form" action="/group" method="post">
    <input name="profile_group" type="text" placeholder="your profile group">
    <input class="profile-group" type="submit" value="Submit!">
    <input type="hidden" name="user_id" value="<%=@user.id%>">
  </form>  
  <% end %> 

  <div>Your profile:</div>
  <div>User ID No.: <%= @user.id %></div>
  <div>Profile ID No.: <%= @user.profile.id %></div>
  <div>Name: <%= @user.name %></div>
  <div class="email">email: <%= @user.email %></div>
  <% if @user.profile.group %>
  <div>Profile: <%= @user.profile.group %></div>
  <% end %> 
</div>